<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Techie.com</a></li>
        <li th:each="item, status : ${breadcrumb}">
            <!-- Render separator and breadcrumb item -->
            <span class="breadcrumb-separator"> &gt; </span>
            <a class = "breadcrumb-item-other" th:if="${!status.last}" th:text="${item.capitalized}" th:href="@{${item.url}}"></a>
            <span th:if="${status.last}" th:text="${item.capitalized}"></span>
        </li>
    </ol>
</nav>

</html>
