<!DOCTYPE html>
<html lang="en">

<footer class="bg-dark text-center text-white">
    <div class="container p-4">

        <!-- Section: Social media -->
        <section class="mb-4">
            <div class="social-media-buttons">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
               href="#!" role="button" data-social-media="Facebook"><i class="fa-brands fa-facebook"></i></a>

            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee"
               href="#!" role="button" data-social-media="Twitter"><i class="fab fa-twitter"></i></a>

            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39"
               href="#!" role="button" data-social-media="Google"><i class="fab fa-google"></i></a>

            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac"
               href="#!" role="button" data-social-media="Instagram"><i class="fab fa-instagram"></i></a>

            <!-- LinkedIn -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca"
               href="https://www.linkedin.com/in/borislav-lyubenov" role="button"><i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333"
               href="https://github.com/lyubenov1" role="button"><i class="fab fa-github"></i></a>
            </div>
        </section>

        <div id="alertPlaceholder"></div>

        <section class="footer-form">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input type="email" id="form5Example2" class="form-control" />
                            <label class="form-label" for="form5Example2">Email address</label>
                        </div>
                    </div>

                    <div class="col-auto">

                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </section>


        <section class="mb-4">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti dicta,
                aliquam sequi voluptate quas.
            </p>
        </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        ® 2024 Copyright:
        <a class="text-white" href="/">Techie.com</a>
    </div>

</footer>

</html>
