<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav th:fragment="header" class="navbar navbar-expand-lg fixed-top bg-dark" data-bs-theme="dark" id="mainHeader">
    <div class="container-xl">

        <a class="navbar-brand" href="/">
            <img src="/images/logo_white_cropped.png" alt="Techie" width="79px" height="60px">Techie®</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="nav-section nav-first">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <div class="nav-link active categories-wrapper d-flex align-items-center"
                             id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="icon-container">
                                <i class="fa-solid fa-bars me-2 bars-icon"></i>
                                <i class="fa-solid fa-xmark me-2 close-icon d-none"></i>
                            </div>Categories</div>

                        <div class="dropdown-menu slideIn" aria-labelledby="navbarDropdown">
                            <!-- Dropdown menu will be populated dynamically via JavaScript -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/products?sort=discount">Weekly deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/about-us">About us</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active" href="/admin">Admin</a>
                    </li>
                </ul>
            </div>

            <!-- Search Form -->
            <div class="nav-section nav-search">
                <form class="d-flex" role="search" style="font-family: 'Roboto Condensed', serif; position: relative;" action="/products/search" method="GET">
                    <input class="form-control me-2" id="searchBar" type="search" name="q" placeholder="What are you searching for?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    <div class="search-results" id="searchResults"></div>
                </form>
            </div>

            <div class="nav-section nav-third">
                <ul class="navbar-nav">
                    <li class="nav-item time">
                        <span id="current-time" th:text="${#temporals.format(#temporals.createNow(), 'HH:mm')}"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/cart}">
                            <i class="fas fa-shopping-cart fa-lg text-white"></i>
                            <span class="badge rounded-pill badge-notification bg-danger" style="display: none;">0</span>
                        </a>
                    </li>

                    <li class="nav-item profile-dropdown" id="profile-dropdown-guest">
                        <div class="nav-link">
                            <i class="far fa-user fa-lg text-white"></i>
                        </div>
                        <!-- Dropdown menu for profile -->
                        <div class="dropdown-menu slideIn profile-dropdown-menu" id="profile-dropdown-menu-guest">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Register</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
