/* Styles for terms-of-use, privacy-policy and about-us pages */

.privacy-policy, .about-us, .terms-of-use {
    margin-bottom: 50px;
}

.privacy-policy h1, .about-us h1, .terms-of-use h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #979797;
    padding-bottom: 0.5rem;
    color: rgb(225, 222, 218);
}

.privacy-policy h2, .about-us h2, .terms-of-use h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    color: #979797;
}

.privacy-policy p, .about-us p, .terms-of-use p {
    margin-bottom: 1rem;
    color: rgb(225, 222, 218);
    font-size: 1.2rem;
}

.privacy-policy .lead, .about-us .lead, .terms-of-use  .lead {
    font-size: 1.2rem;
    font-weight: 300;
    color: #7f8c8d;
    margin-bottom: 2rem;
}

.privacy-policy ul, .about-us ul, .terms-of-use ul {
    padding-left: 1.5rem;
}

.privacy-policy li, .about-us li, .terms-of-use li {
    margin-bottom: 0.5rem;
}

.privacy-policy section, .about-us section, .terms-of-use section {
    margin-bottom: 2rem;
}

.about-us .values ul {
    list-style-type: none;
    padding-left: 0;
    color: rgb(225, 222, 218);
    font-size: 1.1rem;
}

.about-us .values li:before {
    content: "✓ ";
    color: #2ecc71;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 1rem;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .privacy-policy h1, .about-us h1, .terms-of-use h1 {
        font-size: 2rem;
    }

    .privacy-policy h2, .about-us h2, .terms-of-use h2 {
        font-size: 1.5rem;
    }

    .privacy-policy p, .about-us p, .terms-of-use p {
        font-size: 1rem;
    }

    .about-us .values ul {
        font-size: 1rem;
    }
}