.search-form {
    margin-top: 15px;
    position: relative;
    left: -150px;
    width: 380px;
}

.logo-container {
    max-height: 80px;
    width: auto;
    display: flex;
    align-items: center; /
}


.navbar-brand {
    padding: 0;
}

.navbar-nav .nav-link.categories {
    font-size: 19px;
}

.navbar-nav .nav-link.link {
    font-size: 19px;
}

.navbar-nav .nav-link.categories .icon-container {
    margin-top: 1px;
}

.navbar-nav .nav-item {
    position: relative;
}
.navbar-nav .nav-item .badge {
    position: absolute;
    top: -3px;
    right: -3px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25em 0.4em;
    font-size: 0.6rem;
}

body.bg-dark-grey {
    background-color: #232323;
}

.icon-container {
    width: 21px;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.navbar-nav .categories-wrapper {
    display: inline-block;
    background-color: #232323;
    padding: 7px 10px;
    border-radius: 40px;
}

.navbar-nav .nav-link .fas,
.navbar-nav .nav-link .fa-regular {
    margin-right: 2px;
}

.footer-form {
    margin-left: -70px;
}