.navbar-nav .categories-wrapper {
    background-color: #232323;
    padding: 7px 5px;
    border-radius: 40px;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}

.icon-container {
    width: 19px;
}

.navbar-nav .nav-link{
    margin-top: -1px;
}


/* Lower the search bar and its button */
form[role="search"] {
    margin-top: 16px;
}

/* Make the search input field longer */
form[role="search"] input[type="search"] {
    width: 300px;
}

.navbar-nav:last-child {
    margin-left: auto;
    flex-direction: row;
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link .badge {
    font-size: 9px;
    padding: 2px 5px;
    line-height: 1;
    position: absolute;
    top: -8px;
    right: -8px;
}

.navbar-nav:last-child .nav-item {
    margin-right: 8px;
}

/* Media query for mobile view */
@media (max-width: 576px) {
    /* Adjust the search bar and button's position */
    form[role="search"] {
        margin-top: -11px;
    }

    /* Adjust spacing for the icons in the last ul */
    .navbar-nav:last-child .nav-item {
        margin-right: 15px;
    }
}

/* Media query for tablet view */
@media (min-width: 577px) and (max-width: 992px) {
    /* Adjust the search bar and button's position */
    form[role="search"] {
        margin-top: -11px;
    }

    /* Adjust spacing for the icons in the last ul */
    .navbar-nav:last-child .nav-item {
        margin-right: 15px;
    }
}

/* Media query for between tablet and desktop view */
@media (min-width: 993px) and (max-width: 1200px) {
    /* Adjust the width of the search input */
    form[role="search"] input[type="search"] {
        width: 200px; /* Adjust as needed */
    }

    /* Reduce spacing between elements in the first ul */
    .navbar-nav.me-auto .nav-item:not(:last-child) {
        margin-right: -6px; /* Adjust as needed */
    }
}