<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Techie.com</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-dark text-white">

    <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- Side Banners -->
    <div class="side-banner left">
        <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716233753/Categories/Powerbanks.jpg" alt="Left Banner 1">
    </div>
    <div class="side-banner right">
        <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716233753/Categories/Powerbanks.jpg" alt="Right Banner 1">
    </div>

    <main class="container main-content">
        <!-- Display messages if available -->
        <div th:if="${messageSuccess}" class="message-success" id="message-success">
            <p th:text="${messageSuccess}"></p>
        </div>
        <div th:if="${messageError}" class="message-error" id="message-error">
            <p th:text="${messageError}"></p>
        </div>

        <!-- Hero Section -->
        <section>
            <div id="carouselProductShowcase" class="carousel slide custom-carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselProductShowcase" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselProductShowcase" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselProductShowcase" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <a class="carousel-item active" th:href="@{/products/laptops}">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1717458353/Categories/Laptops1_zg2olr.jpg"
                                 class="d-block w-100" alt="Laptops">
                        </div>
                    </a>
                    <a class="carousel-item" th:href="@{/products/earbuds}">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716234093/Categories/Earbuds.jpg" class="d-block w-100" alt="Earbuds">
                        </div>
                    </a>
                    <a class="carousel-item" th:href="@{/products/smartphones}">
                        <div class="carousel-image-wrapper">
                            <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716220466/Categories/Smartphones.jpg" class="d-block w-100" alt="Smartphones">
                        </div>
                    </a>
                </div>
                <button class="carousel-control-prev custom-button" type="button" data-bs-target="#carouselProductShowcase" data-bs-slide="prev">
                    <i class="fa-solid fa-chevron-left fa-xl" style="color: #ffffff;"></i>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next custom-button" type="button" data-bs-target="#carouselProductShowcase" data-bs-slide="next">
                    <i class="fa-solid fa-chevron-right fa-xl" style="color: #ffffff;"></i>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <div class="services-info-box">
            <div class="service-item">
                <i class="fa-solid fa-rotate-left fa-xl"></i>
                <h2>Return policy</h2>
            </div>
            <div class="service-item">
                <i class="fa-solid fa-truck-fast fa-xl"></i>
                <h2>Express delivery</h2>
            </div>
            <div class="service-item">
                <i class="fa-solid fa-dolly fa-xl"></i>
                <h2>Free shipping</h2>
            </div>
            <div class="service-item">
                <i class="fa-regular fa-calendar-check fa-xl"></i>
                <h2>Extended warranty</h2>
            </div>
            <div class="service-item">
                <i class="fa-solid fa-headset fa-xl"></i>
                <h2>Expert support</h2>
            </div>
            <div class="service-item">
                <i class="fa-solid fa-landmark fa-xl"></i>
                <h2>Financing options</h2>
            </div>
        </div>

        <div class="index-boxes">
            <a class="box" th:href="@{/products}">
                <div class="box-img-wrapper">
                    <img src="/images/product_catalog.png" alt="Products">
                </div>
            </a>
            <a class="box" th:href="@{/products/compare-products}">
                <div class="box-img-wrapper">
                    <img src="/images/compare_products.png" alt="Compare products">
                </div>
            </a>
            <a class="box" href="/products?sort=discount">
                <div class="box-img-wrapper">
                    <img src="/images/weekly_deals.png" alt="Deals">
                </div>
            </a>
            <div class="box">
                <div class="box-img-wrapper">
                    <img src="/images/chatbot.png" alt="Chatbot">
                </div>
            </div>
        </div>

        <hr>
        <h3 class="index-brands-header">Explore products from the world's leading tech giants</h3>
        <div class="container index-brands">
            <div class="gallery">
                <figure class="gallery__item gallery__item--1" data-brand="Huawei">
                    <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716479405/Brands/Huawei_srbchz.jpg" alt="Huawei" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--2" data-brand="Acer">
                    <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716235704/Brands/Acer_p2ylhp.jpg" alt="Acer" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--3" data-brand="Google">
                    <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716235779/Brands/Google_vg5dns.jpg" alt="Google" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--4" data-brand="Apple">
                    <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716235711/Brands/Apple_ticin6.jpg" alt="Apple" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--5" data-brand="Samsung">
                    <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716235727/Brands/Samsung_eiuffz.jpg" alt="Samsung" class="gallery__img">
                </figure>
                <figure class="gallery__item gallery__item--6" data-brand="HP">
                    <img src="https://res.cloudinary.com/dztiecgdt/image/upload/v1716235719/Brands/HP_ghu0sb.jpg" alt="HP" class="gallery__img">
                </figure>
            </div>
        </div>
        <h3 class="index-brands-footer">And more!</h3>
        <hr>

        <div class="index-boxes-other">
            <div class="box" id="reviewsBox">
                <div class="box-img-wrapper">
                    <img src="/images/review.png" alt="Reviews">
                </div>
            </div>
            <div class="box" id="wishlistsBox">
                <div class="box-img-wrapper">
                    <img src="/images/wishlist.png" alt="Wishlists">
                </div>
            </div>
        </div>
    </main>

    <input type="hidden" id="loggedUserId" th:value="${loggedUser != null ? loggedUser.id : ''}">

    <div class="container-fluid footer-wrapper">
        <footer th:replace="~{/fragments/footer::footer}"></footer>
    </div>

<script src="/js/script.js"></script>
<script src="/js/indexScript.js"></script>
<script src="/js/subscription.js"></script>
<script src="https://kit.fontawesome.com/5cef8724e6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>