<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${product.name} + ' | Techie.com'">Products</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-dark text-white">

    <input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <header th:replace="~{fragments/header :: header}"></header>

    <div class = "container-lg">
        <div th:insert="~{fragments/breadcrumb :: breadcrumb}"></div>
    </div>

    <main class="container-xl">
        <div class="product-main row">
            <div class="product-photos col-lg-7 col-md-12">
                <div class="photo-container">
                    <div class="thumbnail-photos">
                        <div th:each="imageUrl, iterStat : ${product.imageUrls}"
                             class="thumbnail">
                            <img th:src="${imageUrl}" th:alt="'Product image ' + ${iterStat.count}">
                        </div>
                    </div>
                    <div class="main-product-photo">
                        <img id="main-photo" th:if="${not #lists.isEmpty(product.imageUrls)}" th:src="${product.imageUrls[0]}" alt="Main product image">
                    </div>
                </div>
            </div>
            <div class="product-info col-lg-5 col-md-12">
                <h1 th:text="${product.name}">Product Name</h1>
                <div class="rating-box-wrapper">
                    <div class="rate-rating">
                        <!-- Empty stars as a background -->
                        <div class="stars-outer">
                            <div class="stars-inner" th:style="'width:' + (${product.averageRating} / 5.0 * 100) + '%'"></div>
                        </div>
                    </div>
                    <a href="#" class="rating-info" id="scrollToReviews">
                        <span th:text="${#numbers.formatDecimal(product.averageRating, 1, 2)}">0.0</span>
                        <span th:with="reviewText=${product.reviewCount == 1 ? 'review' : 'reviews'}"
                              th:text="'(' + ${product.reviewCount} + ' ' + ${reviewText} + ')'">0 reviews</span>
                    </a>
                </div>
                <div class="price-box">
                    <span class="original-price" th:text="'$' + ${product.originalPrice}">Original price</span>
                </div>
                <div class="cart-and-favourites">
                    <input type="hidden" id="product-id" th:value="${product.id}">
                    <a href="#" class="add-to-cart">
                        <i class="fas fa-shopping-cart fa-md text-white"></i> Add to Cart
                    </a>
                    <div class="wishlist-wrapper">
                        <a href="#" id="save-to-wishlist" class="add-to-favourites">
                            <i class="far fa-heart fa-md text-white"></i> Save
                        </a>
                        <!-- Dropdown menu for multiple wishlists -->
                        <div id="wishlist-dropdown" class="wishlist-dropdown">
                            <!-- Options will be populated dynamically -->
                        </div>
                    </div>
                </div>
                <div class="product-info-icons">
                    <div class="icon-text">
                        <i class="fa-solid fa-rotate-left"></i>
                        <span>30-Day Right of Return</span>
                    </div>
                    <div class="icon-text">
                        <i class="fa-regular fa-clock"></i>
                        <span>Express Delivery</span>
                    </div>
                    <div class="icon-text">
                        <i class="fa-solid fa-landmark"></i>
                        <span>Leasing</span>
                    </div>
                </div>
                <div class="review-compare-buttons">
                    <button class="review-button" id="scrollToReviewForm">Write a Review</button>
                    <button class="compare-button" id="compareButton" th:attr="data-product-id=${product.id}">Compare</button>
                </div>
            </div>
        </div>
        <div class="product-specs">
            <h2>Specifications</h2>
            <div th:each="specEntry : ${specifications}" class="spec-item">
                <span class="spec-label" th:text="${specEntry.key}">Label</span>
                <span class="spec-value" th:text="${specEntry.value}">Value</span>
            </div>
        </div>
        <div class="product-description">
            <button id="toggleDescriptionBtn" class="toggle-button" type="button" aria-expanded="false" aria-controls="productDescription">
                Product Description
            </button>
            <div id="productDescription" class="description-content">
                <p th:text="${product.description}">Product description</p>
            </div>
        </div>
        <hr>
        <div class="similar-products-container">
            <h2>Similar Products</h2>
            <div class="similar-products category-products">
                <!-- JavaScript will insert similar products here -->
            </div>
        </div>
        <hr>
        <div class="product-customer-reviews">
            <div class="rating-summary">
                <div class="average-rating">
                    <div class="rating-details">
                        <div class="rating-star">★</div>
                        <span class="rating-number" th:text="${#numbers.formatDecimal(product.averageRating, 1, 1)}">0.0</span>
                    </div>
                    <div class="rating-review">
                        <span class="total-reviews" th:text="${product.reviewCount} + ' ' + (product.reviewCount == 1 ? 'review' : 'reviews')">0 reviews</span>
                    </div>
                </div>
                <div class="rating-breakdown">
                    <div class="rating-bar" th:each="rating : ${#numbers.sequence(5, 1, -1)}">
                        <span class="star-number" th:text="${rating}">5</span>
                        <span class="stars">★</span>
                        <div class="bar">
                            <div class="filled" th:style="'width: ' + ${product.reviewCount > 0 ? product.ratings.get(rating) * 100 / product.reviewCount : 0} + '%'"></div>
                        </div>
                        <span class="count" th:text="${#numbers.formatInteger(product.ratings.get(rating), 1, 'COMMA')}">0</span>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="full-width-border"></div>
            <div sec:authorize="isAuthenticated()" class="write-a-review">
                <div class="write-review-header">
                    <h2>Write a Review</h2>
                </div>
                <form id="review-form">
                    <div class="form-group">
                        <label for="review-comment">Your Comment:</label>
                        <textarea id="review-comment" name="review-comment" rows="5" maxlength="600"></textarea>
                        <div class="comment-footer">
                            <div id="comment-char-count">0/600</div>
                            <span class="required-text">* required</span>
                        </div>
                    </div>
                    <div class="form-group rating-group">
                        <label for="review-rate">Rating:</label>
                        <div class="rate review-rate" id="review-rate">
                            <input type="radio" id="rate-star5" name="rate" value="5" />
                            <label for="rate-star5" title="text">5 stars</label>
                            <input type="radio" id="rate-star4" name="rate" value="4" />
                            <label for="rate-star4" title="text">4 stars</label>
                            <input type="radio" id="rate-star3" name="rate" value="3" />
                            <label for="rate-star3" title="text">3 stars</label>
                            <input type="radio" id="rate-star2" name="rate" value="2" />
                            <label for="rate-star2" title="text">2 stars</label>
                            <input type="radio" id="rate-star1" name="rate" value="1" />
                            <label for="rate-star1" title="text">1 star</label>
                        </div>
                        <span class="required">*</span>
                    </div>
                    <div class="form-group">
                        <label for="image-upload">Upload Images (up to 3):</label>
                        <div class="image-upload-container">
                            <label for="image-upload" class="custom-file-upload">
                                <i class="fa-solid fa-upload"></i>
                            </label>
                            <input type="file" id="image-upload" name="image-upload" accept="image/*" multiple>
                            <div id="image-preview">
                            </div>
                            <div id="image-warning" class="image-warning"></div>
                            <div class="product-page-message"></div>
                        </div>
                    </div>
                    <!-- Spinner during file upload -->
                    <div id="upload-spinner" class="spinner-border" role="status" style="display: none;">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <button type="submit">Submit Review</button>
                </form>
            </div>
            <div class="review-list" th:data-product-id="${product.id}">
                <!-- Existing reviews will be here -->
            </div>
            <div class="loading-indicator">
                <!-- This element will be used to trigger the IntersectionObserver -->
                <p class="indicator-text">Loading more reviews...</p>
            </div>
        </div>
    </main>

    <div id="imageModal" class="cloudinary-image-modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <span class="prev" onclick="changeImage(-1)">&#10094;</span>
        <img class="modal-content" id="modalImage" alt="Image" src="">
        <span class="next" onclick="changeImage(1)">&#10095;</span>
        <div id="caption"></div>
    </div>

    <input type="hidden" id="loggedUserId" th:value="${loggedUser != null ? loggedUser.id : ''}">
    <input type="hidden" id="loggedUserRole" th:value="${loggedUser != null ? loggedUser.role : ''}">

    <div class="container-fluid footer-wrapper">
        <footer th:replace="~{/fragments/footer::footer}"></footer>
    </div>

<script src="/js/script.js"></script>
<script src="/js/productScript.js"></script>
<script src="/js/reviewScript.js"></script>
<script src="https://kit.fontawesome.com/5cef8724e6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>