<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${category.name}">Products</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-dark text-white">

<header th:replace="~{fragments/header :: header}"></header>

<div class = "container">
    <div th:insert="~{fragments/breadcrumb :: breadcrumb}"></div>
</div>

<div class="products-main container-md">
    <div class="col-main-products col-main col-sm-12">
        <div class="products-header">
            <h1 class="category-h1" th:text="${category.name}">Category</h1>
            <div>
                <label for="sort">Sort by:</label>
                <select id="sort">
                    <option value="newest">Newest</option>
                    <option value="price-low-high">Price: Low to High</option>
                    <option value="price-high-low">Price: High to Low</option>
                    <option value="price-high-low">Rating</option>
                </select>
            </div>
        </div>
        <div class="category-products">
            <a th:each="product : ${productsPage.content}" class="card" th:href="${category.url} + '/' + ${product.url}" style="width: 18rem;">
                <img th:src="${product.imageUrls[0]}" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <div class="card-body-wrapper">
                        <div class="card-title" th:text="${product.name}">Product Name</div>
                        <div class="card-text">
                            <span th:text="${#numbers.formatDecimal(product.originalPrice, 1, 2)} + ' $'">Product Price</span>
                            <span class="wishlist-and-shopping-cart">
                        <span class="add-to-wishlist">
                            <i class="far fa-heart fa-md text-white"></i>
                        </span>
                        <span class="shopping-cart">
                            <i class="fas fa-shopping-cart fa-md text-white"></i>
                        </span>
                    </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Pagination -->
        <input type="hidden" id="currentPage" th:value="${currentPage}" />
        <input type="hidden" id="totalPages" th:value="${totalPages}" />
        <input type="hidden" id="categoryName" th:value="${category.name}" />
        <input type="hidden" id="pageSize" th:value="${pageSize}" />

        <div class="pagination-products-container">
            <div class="pagination-products-wrapper">
                <nav aria-label="Page navigation example">
                    <ul id="pagination" class="pagination">
                        <!-- Pagination buttons will be appended here dynamically via js code -->
                    </ul>
                </nav>
            </div>
        </div>


    </div>

    <aside class="sidebar-products sidebar col-sm-12">
        <div id="filterContainer">
            <div th:each="filterEntry : ${filterCriteriaFields.entrySet()}" class="filter-section">
                <h5 th:text="${filterEntry.value}">Filter criteria</h5>
                <div class="search-container" style="display: none;">
                    <input type="text" th:name="${filterEntry.key}" th:placeholder="Search" class="filter-search">
                </div>
                <ul class="filter-list custom-scrollspy">
                    <li th:each="option : ${filterOptions[filterEntry.key].entrySet()}">
                        <input type="checkbox" th:id="${filterEntry.key + '-' + option.key}" th:value="${option.key}" th:name="${filterEntry.key}">
                        <label th:for="${filterEntry.key + '-' + option.key}" th:text="${option.key + ' (' + option.value + ')'}"></label>
                    </li>
                </ul>
            </div>
        </div>
    </aside>




</div>

<div class="container-fluid footer-wrapper">
    <footer th:replace="~{/fragments/footer::footer}"></footer>
</div>

<script src="/js/script.js"></script>
<script src="https://kit.fontawesome.com/5cef8724e6.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>